/* Corrigindo margem geral da página */
body {
  margin: 0;
}

/* Adicionando as fontes padrões do site e definindo a cor de fundo */
head, body{
	font-family: helvética;
  background-color:white;
}
/* Partes do cabeçalho */
.tit {
	font-family: impact;
	font-size: 42px;
	position: relative;
}

/* Criando o container do cabeçalho */
.header-container {
  background-color: #fff;
  height: auto;
}

/* Criando o container da navegação (onde exibe a logo e o Portas Abertas) */
.nav-container {
  justify-content: space-evenly;
  flex-direction: row;
  display: flex;
  height: 100px;
  width: 100%;
}

/* Estilizando a seção do título e da logo */
.nav-brand {
  flex-direction: row;
  display: flex;
  margin: auto 0;
}

/* Definindo um tamanho máximo para a logo */
.nav-logo {
  max-height: 80px;
}

/* Título da navegação */
.nav-titulo {
  font-family: impact;
  font-size: 36px;
  margin:  auto 0;
}

/* Imagem da navegaçao */
.nav-imagem {
  display: flex;
}

/* Botões de navegação */
.t1 {
  font-family: 'Open Sans', sans-serif;
  display: block;
  width: 235px;
  height: 39px;
  line-height: 39px;
  color: #fff;
  text-decoration: none;
  background: #228B22;
  text-transform: uppercase;
  border-radius: 10px 0px 10px 0px;
  /* O atributo transition define um tempo para realizar
  a transição quando se passa o mouse por cima */
  transition: 0.2s ease-in;
}

/* O atributo hover permite que um elemento seja
modificado ao passar o mouse sobre */
.t1:hover, .selected .t1 {
  background-color: #279f27;
  background-position: right bottom;
  color: #222;
}
/*Página "Campus Ceará-Mirim"*/

/*Crescimento das imagens*/
.foto img {
  /*distancia entre uma imagem e a outra*/
  margin: 0px 5px 5px 0px;
  border-radius: 5px 0px 5px 0px;
}

/* Criando uma imagem em paralax */
.header-site {
  background-image: url(paralax.jpeg);
  background-position:  center top;
  background-repeat: no-repeat;
  background-size:  cover;
  background-attachment: fixed;
  color:  #ffff;  
} 

/* Aplicando um filtro escuro na imagem para que o
texto possa ser lido de maneira mais fácil */
.filter {
  background: rgba(18,18,18,0.6)
}

/* Página "Projetos" */

/* A outra imagem em paralax */
.header-site2 {
  background-image: url('./3.jpeg');
  background-position:  center top;
  background-repeat: no-repeat;
  background-size:  cover;
  background-attachment: fixed;
  color:  #ffff;
}

ol li{
  display: inline-block;
}

li {
  color: #6C7B8B;
  border: solid coral 0px;
  /*relação entre as bordas da caixinha e o conteudo dentro dela*/
  padding-top: 7px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom:7px;
  /*margem fora da caixinha*/
}

/* A transformação que permite às imagens o crescimento ao
passar com o mouse sobre */
.foto img:hover {
  transform: scale(3.0, 3.0);
}

/* Retira a decoração do link de todos os lugares */
a {
	text-decoration: none;
}

/* Títulos de cada uma das páginas */
.titulos {
  font-family: 'Merriweather', serif;
  border: solid  2px;
  border-radius: 5px 0px 5px 0px;
  /*relação entre as bordas da caixinha e o conteudo dentro dela*/
  padding-top: 5px;
  padding-bottom:5px;
  /*margem fora da caixinha*/
  margin: 15px;
  color: black;
  font-size: 24px;
}

/* Texto dentro das imagens em paralax */
.lead {
  font-family: 'Merriweather', serif;
  text-align: justify;
  font-size: 18px;
  padding: 2rem 2rem 8rem;
  margin: 0;
}

/* Lead não acompanhado de título */
.lead-solo {
  font-family: 'Merriweather', serif;
  text-align: justify;
  font-size: 18px;
  padding: 10rem 2rem;
  margin: 0;
}

/* Página "Cursos" */

/* Container que envolvem todas as divs dos cursos */
.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

/* Linha dos cursos */
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* Coluna exibindo o conteúdo dos cursos */
.col-content {
  width: 320px;
  height: auto;
}

/* Coluna comum */
.col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  color: #fff;
}

/* Realiza alterações nas imagens DENTRO das colunas */
.col img { 
  background-color: #008000;
  border-radius: 30px 0px 0px 0px;
  color: #fff;
}

.item-3 {
  background-color: #f79646;
}

.col-conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #228B22;
  color: #fff;
  border-radius: 0px 0px 30px 0px;
  font-size: 17px;
}

.descricao-conteudo {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  font-size: 16px;
  padding: 1rem;
}

/* Container de cada curso */
.n-curso {
  font-family: 'Merriweather', serif; 
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #228B22;
  text-align: center;
  color: #fff;
  border-radius: 10px 10px 0px 0px;
  width: 50%;
  margin: auto;
}

/*botão "ver detalhes"*/
.botao {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border: solid  2px;
  border-radius: 5px 0px 5px 0px;
  /*relação entre as bordas da caixinha e o conteudo dentro dela*/
  padding: 0.5rem;
  /*margem fora da caixinha*/
  margin: 0.2rem;
  color: white;
  transition: 0.2s ease-in;
}
.saibamais{
  color:  white;
}

/*MUDANÇA DE COR AO PASSAR O MOUSE POR CIMA*/
.botao:hover {
  color: #008000;
  background-color: white;
  border-color: white;
}
.modalidade:nth-child(even) {
  background-color: #008000;  
}

.modalidades {
	background-color: #228B22;
	width: 100%;
	text-align: center;
}
.img-modalidades{
	width: 15%%;
	height: 20%;
	border-radius: 10px 0px 10px 0px;
	margin: 10px 0px 10px 0px;
}
.titulo-modalidades{
  font-family: 'Merriweather', serif;
	font-size: 22px;
	color:  white;
}
.conteudo-modalidades{
  font-family: 'Open Sans', sans-serif;
  margin: 1rem;
	color: white;
}
li {
  display: inline;
}

.text-center {
  font-family: 'Merriweather', serif;
  font-size: 25px;
	color:  #ffff;
  margin: auto;
  text-align: center;
  padding-top: 8rem;
}

.visita-texto {
  font-family: 'Open Sans', sans-serif;
 	display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #228B22;
  color: #fff;
  border-radius: 30px 0px 30px 0px;
  font-size: 14px;
  padding: 2rem 1rem;
}

/* Agrupa e exibe botões de maneira responsiva */
.grupo-botao {
  display: flex;
  flex-direction: column;
}

/* O container do carrossel de projetos */
.projetos-container {
  background-color: #008000;
  flex-direction: column;
  display: flex;
  padding: 2rem 2rem;
}

/* O título do container de projetos*/
.projetos-titulo {
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #fff;
  margin: 1rem 0;
}

/* Ajusta o tamanho do carrossel de projetos */
.projetos-carrossel {
  
}

/* O cartão padrão que organiza os elementos dentro
do carrossel*/
.projetos-carrossel .card {
  flex-direction: column;
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 50px;
  display: flex;
  height: 450px;
}

.card-descricao {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #fff;
  padding: 1rem; 
}

/* Define o tamanho e comportamento das imagens dentro
do carrossel*/
.carrossel-img {
  margin: auto auto;
  height: 200px;
}

/* Rodapé do site*/

/* Container do rodapé */
.footer-container {
  background-color: #003200;
  justify-content: space-around;
  display: flex;
  padding: 1rem 1rem;
  color: #eee; 
}

/* Estiliza a logo do footer*/
.footer-brand {
  margin: auto 0;
}

.footer-brand-logo {
  display: flex;
}

.footer-logo {
  max-height: 80px;
}

/* Além da logo, estiliza também o label de texto */
.footer-brand-label {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  margin: auto 0;
}

.footer-brand-label-campus {
  font-weight: bold;
}

/* Estiliza o mapa do site */
.footer-sitemap {
  margin: auto 0;
}

/* Título do mapa do site */
.sitemap-title {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 24px;
}

/* Lista do mapa do site */
.sitemap-list {
  font-family: 'Open Sans', sans-serif;
  flex-direction: column;
  display: flex;
  padding: 0;
}

/* Estiliza cada elemento da lista */
.sitemap-element {
  text-decoration: underline;
  transition: 0.2s ease-in;
  color:  #eee;
}

.sitemap-element:hover {
  color: #fff;
}

.footer-info {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0.5rem 0;
}

.footer-info spam {
  font-weight: bold;
}

/* Estiliza os autores, presentes logo abaixo
da logo */
.footer-autores {
  justify-content: center;
  flex-direction: column;
  display: flex;
  color: #fff;
}

.autor {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0.5rem 0;
  margin: 0;
}

.secao-container {
  flex-direction: column;
  display: flex;
  margin: 2rem;  
}

.secao-titulo {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  color: #008000;
}

.secao-conteudo {
  justify-content: space-around;
  flex-direction: row;
  display: flex;
  padding: 1rem 2rem;
}

.secao-card {
  text-align: center;
  margin: 0 0.5rem;
}

.card-imagem {
  background-color: #0d0;
  border-radius: 10px;
  max-width: 200px;
  padding: 1rem;
  margin: 0 auto;
}

.card-titulo {
  font-family: "Merriweather", serif;
  color: #080;
}

.card-describ {
  font-family: 'Open Sans', sans-serif;
  padding: 0 1rem;
  color: #454545;
}
/* Responsividade */

/* Quando os dispositivos tiverem uma tela menor que 540px,
estas estilizações e comportamentos vão ser tomados */
@media screen and (max-width: 540px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .tabela-modalidades {
    display: flex;
    flex-direction: column;
  }

  .foto-center {
    display: flex;
    flex-direction: column;
  }

  .foto-center img {
    max-height: 150px;
    max-width: 250px;
  }

  .footer-brand-logo {
    flex-direction: column;
  }

  .footer-logo {
    max-width: 80px;
    margin: 0 auto;
  }

  .row {
    flex-direction: column;
  }

  .secao-conteudo {
    display: flex;
    flex-direction: column;
  }

  .secao-card {
    margin: 2rem 0;
  }
}